
// general content and link fades
a,a>*,.btn>*,.btn,button,input,select,textarea,.transition { transition: all .2s linear; }


// animate the dropdown-menu class
.dropdown-menu { animation: menuflipdown 0.5s ease both; }
@keyframes menuflipdown {
  0%    { opacity: 0; transform-origin: top center; transform: rotateX(-90deg); }
  80%   { opacity: 1; }
  100%  { transform-origin: top center; transform: rotateX(0deg); }
}


// animate the hamburger menu
.navbar-toggle {
  .icon-bar:nth-of-type(2) { top: -1px; }
  .icon-bar:nth-of-type(3) { top: 0px; }
  .icon-bar:nth-of-type(4) { top: 1px; }
  .icon-bar { position: relative; transition: all 300ms ease-in-out; }
  &:not(.collapsed) .icon-bar:nth-of-type(2) { top: 6px; transform: rotate(45deg); }
  &:not(.collapsed) .icon-bar:nth-of-type(3) { background-color: transparent; }
  &:not(.collapsed) .icon-bar:nth-of-type(4) { top: -6px; transform: rotate(-45deg); }
}// end .navbar-toggle
