
// LOads

$sans-serif: 'Open Sans';
$sans-serif-fallback: sans-serif;

@mixin async-font($font, $fallback: $sans-serif-fallback) {
  font-family: $fallback;

  .no-js & {
    font-family: $font, $fallback;
  }

  .wf-active & {
    font-family: $font, $fallback;
  }
}
